@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body {
    position: absolute;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    background: yellowgreen;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}